.vscode/settings.json
**/.venv
.env
.ipynb_checkpoints
**/__pycache__
**/db
.DS_Store
*.log
_build
.lia.cache
*.glob
*.aux
*.vo*
*.exe
target/
project/
benchmarks/dsl-bench/**/*.csv
benchmarks/pandas/**/*.csv
benchmarks/spark/**/*.csv
benchmarks/dsl-bench/**/*.parquet
benchmarks/pandas/**/*.parquet
benchmarks/spark/**/*.parquet
benchmarks/pandas/logs*
benchmarks/spark/logs*
